.Start_Main{
    background-color: #161616;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: #ffffff;
}

.Log_sign{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question{
    margin:50px;
}