@font-face{
  font-family: 'FuturaPTBook';
  src: local('FuturaPTBook'), url('./fonts/FuturaPTBook.otf') format('truetype');
}

@font-face{
  font-family: 'Staatliches-Regular';
  src: local('Staatliches-Regular'), url('./fonts/Staatliches-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #161616;
  font-family: 'FuturaPTBook';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {  
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','Staatliches',
    monospace;
}


