@font-face{
  font-family: 'FuturaPTBook';
  src: local('FuturaPTBook'), url('./fonts/FuturaPTBook.otf') format('truetype');
}

@font-face{
  font-family: 'Staatliches-Regular';
  src: local('Staatliches-Regular'), url('./fonts/Staatliches-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #161616;
  font-family: 'FuturaPTBook';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New','Staatliches',
    monospace;
}


