
.Home{
    background-color: #161616;
    display:flex;
    flex-direction: column;
    align-items: center;



    .Content{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:97%;
    }
    
    figure{
        width:100%;
        height:100%;
    }

    padding-bottom: 70px;

}

.Nav{
    width: 100%;
    position: fixed;
    bottom:0;
}