.Main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Back{
    width:100%;
    left:0;
    top:0;
    position: absolute;
    margin-top: 10px;
    z-index: 1;
}
